

<div class="home-main-container">

    <div class="home-main-wrapper">
        <div onmousemove="move()" class="home-nav-container">
            <div id="home-nav-bar" class="home-nav-bar">
                <span class="home-nav" ui-sref="adventures"><h3>ADVENTURES</h3></span>
                <span class="home-nav" ui-sref="journal"><h3>JOURNAL</h3></span>
                <span class="home-nav" ui-sref="kits"><h3>KITS</h3></span>
                <span class="home-nav" ui-sref="jobs"><h3>JOBS</h3></span>
                <span class="home-nav" ui-sref="store"><h3>STORE</h3></span>
            </div>
        </div>
    </div>

    <div class="nav-bar-container">

        <home-profile-toggle></home-profile-toggle>

        <div class="nav-bar">

            <img class="main-logo" src="../assets/theoutbound.png">

        </div>

        <div class="login" ui-sref="login">
            login
        </div>

        <div class="fullscreen-icon">
            <img class="fullscreen-button" src="../assets/Square_with_corners.svg.png">
        </div>

    </div>


</div>


