<div class="login-main-wrapper">

    <div class="input-container">

        <div class="login-wrapper">

                <div class="main-login">
                    <h3 class="login-header">Please</h3>
                    <h5 class="login-header-footer">submit credentials</h5>

                    <div class="main-login-wrapper">

                        <input class="login-email login-input" type="text" placeholder="email" ng-model="user.email"><br>
                        <input class="login-password login-input" type="password" placeholder="password" ng-model="user.password"><br>
                        <button class="login-submit" ng-click="login(user)">submit credentials for authorization</button>

                    </div>
                </div>

            <h1 class="signup-header" >New to Field & StreamBound?</h1>
            <h2 class="think">think you have what it takes?</h2>
            <h3 class="create-account" >Create an account</h3>
            <h5 class="dare">we dare you.</h5>

                        <div class="main-signup">


                            <div class="main-signup-wrapper">

                                <input class="signup-email" placeholder="email" ng-model="newUser.email"><br>
                                <input class="signup-name" placeholder="name" ng-model="newUser.name"><br>
                                <input class="signup-password" placeholder="password" ng-model="newUser.password"><br>
                                <button class="create-account-button" ng-click="createNewUser(newUser)">apply for admission</button>
                            </div>
                        </div>

        </div>

    </div>


    <img class="main-logo-login" src="../assets/theoutbound.png" ui-sref="home">
    <img class="main-logo-login-bottom" src="../assets/theoutbound.png" ui-sref="home">
    <p class="slogan">venture ready | venture bound</p>

</div>