body {
    padding: 0;
    margin: 0;
}

.login-main-wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    background-image: url('../assets/tim-stief-169209.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
}

.main-login {
    float: left;
    z-index: 1;
    font-family: 'Open Sans Condensed', sans-serif;
}
.main-login-wrapper {
    margin-top: 55vh;
    margin-left: 10vw;
}
.login-header {
    float: left;
    margin-top: 40vh;
    margin-left: 10vw;
    letter-spacing: 10px;
    color: white;

}

.login-email{
    font-size: larger;
    padding: 20px;
    background-color: transparent;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20vw;
    color:  white;
}
    .login-email:hover {
        border-top: 1px dotted  white;
    }

.login-password {
    margin-top: 5vh;
    font-size: larger;
    padding: 20px;
    background-color: transparent;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20vw;
    color: white;

}
.login-password:hover {
    border-top: 1px dotted white;
}
.login-submit {
    margin-top: 5vh;
    background-color: transparent;
    height: 3vh;
    width: 25vw;
    border: 1px dotted  white;
    color:  white;
}
.login-submit:hover {
    background-color: white;
    color: white;
    opacity: .4;
}




.main-signup {
    float: right;
    z-index: 10;
}
.main-signup-wrapper {
    margin-top: 25vh;
    margin-right: 5vw;
}

.signup-name {
    margin-top: 5vh;
    font-size: larger;
    padding: 20px;
    background-color: transparent;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20vw;
    color: white;

}
.signup-name:hover {
    border-top: 1px dotted white;
}
.signup-email {
    font-size: larger;
    padding: 20px;
    background-color: transparent;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20vw;
    color: white;

}
.signup-email:hover {
    border-top: 1px dotted white;
}
.signup-password {
    margin-top: 5vh;
    font-size: larger;
    padding: 20px;
    background-color: transparent;
    border-bottom: dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20vw;
    color: white;

}
.signup-password:hover {
    border-top: 1px dotted white;
}
.create-account-button {
    margin-top: 5vh;
    background-color: transparent;
    height: 3vh;
    width: 25vw;
    border: 1px dotted white;
    color: white;
}
.create-account-button:hover {
    background-color: white;
    color:  white;
    opacity: .4;
}

.main-logo-login {
    position: fixed;
    top: 5vh;
    left: 5vh;
    height: 100px;
    width: 100px;
    opacity: .7;
}

.main-logo-login-bottom {
    position: fixed;
    bottom: 1.5vh;
    right: 30vh;
    height: 30px;
    width: 30px;
    opacity: .9;
}
.slogan {
    position: fixed;
    bottom: 1.5vh;
    right: 5vh;
    opacity: .9;
    letter-spacing: 3px;
    font-size: 10px;
    color: white;
}

.login-input{
    color: white;
}